* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: white;
}

body {
  background-image: url("src/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #000000;
}

/* Ptreloader */
#preloader {
  background: rgb(40, 1, 54) url(src/preloader) no-repeat center;
  background-size: 20%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.body {
  margin: 0;
  padding: 55px;
  width: 100%;
  height: 100fr;
  background-repeat: no-repeat;
  background-size: inherit;
  background-attachment: fixed;
}

.container {
  border: 2px solid;
  border-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  background-image: url("src/card.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 50px 50px 30px 50px;
}

/* F O R M */

.form-control {
  border: none;
  border-radius: 50px 50px 50px 50px !important;
  padding-left: 30px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form-control:focus {
  background: rgba(252, 248, 255, 0.8);
  outline: none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button {
  margin-left: 10px !important;
  height: 48px;
  width: 48px;
  background: rgba(255, 255, 255, 0.6);
  border: none;
  color: black;
}

.button:hover {
  background: rgba(252, 248, 255, 0.8);
  box-shadow: 0px 0px 10px rgba(143, 143, 143, 0.4);
}

.button img {
  background: none;
}

/* R O W 2 */

.p-5 {
  padding-bottom: 0px !important;
}

/* R O W   L E F T */

.city-name {
  font-weight: 200;
  font-size: 75px;
  line-height: 60px;
  text-transform: capitalize;
}

.date-time {
  margin-top: 20px;
  font-weight: normal;
  font-size: 27px;
  line-height: 37px;
}

.weather-image img {
  margin-top: 15px;
  width: 100px;
}

h4 {
  margin-top: 0 !important;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: capitalize;
}

/* R O W    R I G H T */

.temparature {
  margin-top: -30px;
  font-weight: 100;
  font-size: 180px;
  line-height: 219px;
  text-align: right;
}

.degree-small {
  font-weight: 300;
  font-size: 85px;
  line-height: 122px;
  position: relative;
  top: -70px;
}

.dective {
  text-decoration: none !important;
  font-weight: 600;
}

ul {
  list-style: none;
  padding-left: 0;
  padding-right: 25px;
  text-align: right;
  font-size: 24px;
  line-height: 36px;
}

/* L A S T    R O W */

h5 {
  font-size: 22px;
  font-weight: 300;
  text-align: center;
}

.day-img {
  width: 60px;
  display: block;
  margin: 0 auto;
}

.day-temp {
  margin-top: 8px;
  margin-bottom: 0px;
}

.min1,
.min2,
.min3,
.min4,
.min5,
.min6 {
  opacity: 0.6;
}

a {
  color: white !important;
}

a:hover {
  text-transform: uppercase;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(135, 43, 168, 0.4);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(135, 43, 168, 0.8);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(135, 43, 168, 1);
}

@media (max-width: 992px) {
  .temparature,
  ul {
    text-align: center;
  }

  .city-name {
    font-size: 60px;
  }

  .container {
    text-align: center;
  }

  ul {
    padding-right: 0;
  }

  .col h1 {
    display: block !important;
    margin: 0 auto !important;
  }
}

@media (max-width: 768px) {
  .city-name {
    font-size: 34px;
    font-weight: 400;
    line-height: 50px;
  }

  .date-time {
    font-size: 20px;
    line-height: normal;
  }

  .p-5 {
    padding: 20px !important;
  }

  .push-down img {
    margin-top: 10px;
  }
}

@media (max-width: 500px) {
  .form-control,
  .button {
    height: 40px;
  }

  .button {
    width: 40px;
  }
  .button img {
    width: 24px;
  }

  .body {
    padding: 36px;
  }
  .container {
    padding: 20px !important;
    text-align: center !important;
  }

  div.col-md {
    padding: 0 !important;
  }

  .weather-image img {
    width: 80px;
  }

  /* ul {
    font-size: 20px;
    line-height: normal;
  } */

  h5 {
    font-size: 20px;
  }

  .day-img {
    width: 60px;
  }
  .day-temp {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
