* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url("Background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
}

.form-control {
  background: rgba(252, 248, 255, 0.5);
  box-shadow: inset 0px 0px 8.11709px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 50px 50px 50px 50px !important;
  padding-left: 30px;
}

.form-control:hover {
  background: rgba(252, 248, 255, 0.9);
}

.form-control:focus {
  background: rgba(252, 248, 255, 0.9);
  outline: none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: inset 0px 0px 8.11709px rgba(0, 0, 0, 0.25);
}

.button {
  margin-left: 10px !important;
  height: 48px;
  width: 48px;
  background: rgba(252, 248, 255, 0.5);
  box-shadow: 0px 0px 8.11709px rgba(133, 133, 133, 0.2);
  border: none;
}

.button:hover {
  background: rgba(252, 248, 255, 0.9);
  box-shadow: 0px 0px 10px rgba(143, 143, 143, 0.4);
}

.button img {
  background: none;
}

.box {
  padding: 0px;
}

.row {
  margin: 0px 30px;
}

.text {
  padding-left: 40px;
  font-size: 22px;
  font-weight: 200;
}

.text img {
  margin-bottom: 10px;
}

.larger {
  margin-right: 20px;
  margin-top: 15px;
  font-size: 180px;
  font-weight: 100;
  line-height: 150px;
  text-align: right;
}

.large {
  font-size: 48px;
  font-weight: 200;
  text-align: right;
  margin-right: 70px;
}

.city {
  font-size: 90px;
  font-weight: 200;
  line-height: 50px;
  text-align: left;
  margin-top: 10px;
}

.time {
  font-size: 24px;
  font-weight: 300;
  text-align: left;
  margin: 25px 0 0 0;
}

.col img {
  width: 50px;
}

.col h4 {
  font-size: 22px;
  font-weight: 200;
}

.black-box {
  /* margin-top: 50px; */
  text-align: center;
  padding: 0px 10px 0 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 11px 11px;
}

.col {
  margin: 30px 0;
}

.bottom {
  margin: 10px 0 0 0;
}

.container {
  background-image: url("noblur.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 11px;
  width: 80%;
  padding: 0 !important;
  padding-top: var(--bs-gutter-x, 0.75rem);
  margin-top: var(--bs-gutter-x, 4rem);
  margin-bottom: var(--bs-gutter-x, 4rem);
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 500px) {
  .p-5 {
    padding: 1.9rem !important;
  }

  .button {
    margin-left: -30px;
    height: 40px;
    width: 40px;
  }

  .row {
    margin: 0 24px;
  }

  .large,
  .larger {
    text-align: left;
    margin-bottom: 10px;
  }

  .larger {
    margin-top: 50px;
    font-size: 150px;
    line-height: 120px;
  }

  .large {
    font-size: 38px;
    margin-left: 10px;
  }

  .button img {
    width: 25px;
  }

  span {
    font-size: 16px;
    text-align: right;
    float: right;
    margin-top: 10px;
  }

  .text {
    padding-left: 0px;
    font-size: 22px;
    font-weight: 200;
  }

  .text img {
    margin: 10px;
    width: 50px;
  }

  .city {
    font-size: 60px;
    line-height: 20px;
  }
  .time {
    font-size: 18px;
  }

  .black-box {
    display: block;
  }
  .col h4 {
    font-size: 18px;
    font-weight: 200;
  }

  .col {
    margin: 20px 0;
  }

  .col img {
    width: 40px;
  }

  .container {
    margin-top: var(--bs-gutter-x, 3rem);
    margin-bottom: var(--bs-gutter-x, 3rem);
  }
}
